body {
  overflow: auto !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > label.focusIn,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label,
.form-floating > .form-control.patchValue ~ label,
.ft-ckeditor > label {
  width: auto;
  height: auto;
  background: #fff;
  padding: 0 5px;
  top: -10px;
  left: 11px;
  opacity: 1;
  transform: none;
  line-height: 1.3;
  max-width: calc(100% - 5px);
  font-size: 0.75rem;
  color: #777 !important;
}

.form-floating > .form-select ~ .errFormField {
  right: 1.3rem;
}

.ng-valid ~ .errFormField {
  display: none;
}

.form-floating {
  --form-floating-height: calc(2.5rem + calc(var(--border-width) * 2));
  --form-floating-line-height: auto;
  --form-floating-padding-y: 0.5rem;
  --form-floating-padding-x: 0.875rem;
  --form-floating-input-padding-t: 0.58rem;
  --form-floating-input-padding-b: 0.58rem;
  --form-floating-label-opacity: 1;
  --form-floating-label-transform: scale(0.85) translateY(-0.4rem) translateX(0.15rem);
  position: relative;
}

.form-floating label {
  color: rgba(0, 0, 0, 0.7);
}

.form-select:focus, .form-control:focus {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0.125rem rgba(123, 123, 127, 0.1)
}

.select2-floating app-validation-messages + app-d-select .fakeDSelect input,
.form-control.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-touched {
  border-color: #EF4444;
  background: transparent !important;
}

.ng-error {
  border-color: #EF4444 !important;
}

.select2-floating {
  display: flex;
  align-items: center;

  app-validation-messages {
    order: 2;
    margin-left: .3rem;
  }

}

.field-invalid,
.ng-submitted:not(.ng-skip-pending) .form-control.ng-invalid,
.ng-submitted:not(.ng-skip-pending) .form-select.ng-invalid {
  border-color: #EF4444;
  background: transparent !important;
}

.ng-untouched.ng-pending.ng-skip-pending {
  .form-control.is-invalid,
  .form-select.is-invalid,
  .form-control.ng-invalid,
  .form-select.ng-invalid {
    border-color: rgb(209, 213, 219) !important;
  }

  app-validation-messages {
    display: none !important;
  }
}

.ng-skip-pending {
  .form-control.is-invalid:focus {
    //box-shadow: 0 0 0 0 transparent, 0 0 0 0.125rem rgba(123, 123, 127, 0.1);
    box-shadow: none
  }
}

.form-floating.form-control-feedback-end > label {
  right: inherit;
}

.form-control-feedback-icon {
  --input-icon-padding-y: 0.7rem
}

.ft-ckeditor .ck.ck-toolbar {
  border-radius: var(--ck-border-radius) var(--ck-border-radius) 0 0 !important;
}

.page-book-appointment .bg-background {
  background: linear-gradient(135deg, #8bbcff 0%, #b79cff 100%) !important;
}
