
<div class="page">
  <!-- YOUTUBE -->
  @if (isYoutube && iframeUrl) {
    <div class="player">
      <iframe
        class="yt"
        [src]="iframeUrl"
        title="YouTube video player"
        frameborder="0"
        allow="autoplay; encrypted-media; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  }

  <!-- MP4 -->
  @if (isMp4 && rawUrl) {
    <div class="player">
      <video class="mp4" [src]="rawUrl" controls playsinline></video>
    </div>
  }

  @if (!isYoutube && !isMp4) {
    <div class="empty">Không thể phát video.</div>
  }
</div>
